body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--seed-color-bg-layer-default);
  overscroll-behavior: none;
}

/* perf test */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 8px;
}

.w-50px {
  width: 50px;
}

.h-50px {
  height: 50px;
}

.bg-brandSolid {
  background-color: var(--seed-color-bg-brand-solid);
}
