@import "tailwindcss" source(none);
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@grape_design_react/tailwind4-theme";

@source ".";
@source "../components";
@source "../content";
@source "../examples";
@source "../sanity";
@source "../../node_modules/fumadocs-ui/dist/**/*.js";

.react {
  --primary: var(--react-color);
}

.design {
  --primary: var(--design-color);
}

.lynx {
  --primary: var(--lynx-color);
}

.breeze {
  --primary: var(--breeze-color);
}

:root {
  --design-color: hsl(250deg 80% 54%);
  --react-color: hsl(220, 74%, 54%);
  --lynx-color: rgba(0, 0, 0, 1);
  --breeze-color: hsl(26, 100%, 46%);

  --color-fd-background: #ffffff;
  --color-fd-foreground: #0f172a;
  --color-fd-muted: #f1f5f9;
  --color-fd-muted-foreground: #64748b;
  --color-fd-card: #ffffff;
  --color-fd-card-foreground: #0f172a;
  --color-fd-popover: #ffffff;
  --color-fd-popover-foreground: #0f172a;
  --color-fd-border: #e2e8f0;
  --color-fd-input: #e2e8f0;
  --color-fd-primary: #0f172a;
  --color-fd-primary-foreground: #f8fafc;
  --color-fd-secondary: #f1f5f9;
  --color-fd-secondary-foreground: #0f172a;
  --color-fd-accent: #f1f5f9;
  --color-fd-accent-foreground: #0f172a;
  --color-fd-destructive: #ff0000;
  --color-fd-destructive-foreground: #f8fafc;
  --color-fd-ring: #94a3b8;

  /* Lift Dialog, Sheet z-index for documentation */
  --layer-index: 100;
}

.dark {
  --design-color: 250 100% 80%;
  --react-color: 217deg 92% 76%;
  --lynx-color: 280deg 85% 75%;
  --breeze-color: 180deg 82% 76%;

  --color-fd-background: #171717;
  --color-fd-foreground: #ebebeb;
  --color-fd-muted: #212121;
  --color-fd-muted-foreground: #9b9b9b;
  --color-fd-popover: #191919;
  --color-fd-popover-foreground: #e0e0e0;
  --color-fd-card: #1a1a1a;
  --color-fd-card-foreground: #fafafa;
  --color-fd-border: #2e2e2e;
  --color-fd-primary: #fafafa;
  --color-fd-primary-foreground: #171717;
  --color-fd-secondary: #212121;
  --color-fd-secondary-foreground: #fafafa;
  --color-fd-accent: #2b2b2b;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-ring: #262626;
}

.example-reset {
  line-height: normal;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

strong {
  font-weight: 700;
}

article .prose {
  padding-bottom: 3rem;
}

/* Enable text selection in code blocks */
pre, code, pre code {
  user-select: text !important;
  -webkit-user-select: text !important;
}
