.seed-action-sheet__positioner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior-y: none;
    --sheet-z-index: 2;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
}
.seed-action-sheet__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
}
.seed-action-sheet__backdrop:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.seed-action-sheet__backdrop:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
}
.seed-action-sheet__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    overflow: hidden;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    border-top-left-radius: var(--seed-radius-r5);
    border-top-right-radius: var(--seed-radius-r5);
}
.seed-action-sheet__content:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d4);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 100%;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
.seed-action-sheet__content:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 100%;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
}
.seed-action-sheet__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-inline: var(--seed-dimension-spacing-x-global-gutter);
    padding-block: var(--seed-dimension-x3_5);
    gap: var(--seed-dimension-x1);
}
.seed-action-sheet__header:after {
    content: '';
    display: block;
    position: absolute;
    left: var(--seed-dimension-spacing-x-global-gutter);
    right: var(--seed-dimension-spacing-x-global-gutter);
    bottom: 0;
    height: 1px;
    background: var(--seed-color-stroke-neutral-muted);
}
.seed-action-sheet__title {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-bold);
}
.seed-action-sheet__description {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-regular);
}
.seed-action-sheet__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.seed-action-sheet__closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--seed-color-bg-layer-floating);
    min-height: 50px;
    padding-inline: var(--seed-dimension-spacing-x-global-gutter);
    padding-block: var(--seed-dimension-x3_5);
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-bold);
}
.seed-action-sheet__closeButton:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-layer-floating-pressed);
}