.seed-action-button {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    flex-shrink: 0;
    font-family: inherit;
    --seed-box-flex-grow: initial;
    flex-grow: var(--seed-box-flex-grow);
    --seed-box-min-width: initial;
    min-width: var(--seed-box-min-width);
    --seed-box-padding-bottom: initial;
    --seed-box-padding-top: initial;
    --seed-box-padding-left: initial;
    --seed-box-padding-right: initial;
    padding-top: var(--seed-box-padding-top);
    padding-bottom: var(--seed-box-padding-bottom);
    padding-left: var(--seed-box-padding-left);
    padding-right: var(--seed-box-padding-right);
    --seed-box-bleed-bottom: 0px;
    --seed-box-bleed-top: 0px;
    --seed-box-bleed-left: 0px;
    --seed-box-bleed-right: 0px;
    margin-top: calc(var(--seed-box-bleed-top) * -1);
    margin-bottom: calc(var(--seed-box-bleed-bottom) * -1);
    margin-left: calc(var(--seed-box-bleed-left) * -1);
    margin-right: calc(var(--seed-box-bleed-right) * -1);
}
.seed-action-button:is(:focus, [data-focus]) {
    outline: none;
}
.seed-action-button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-action-button {
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
}
.seed-action-button--variant_brandSolid {
    background: var(--seed-color-bg-brand-solid);
    color: var(--seed-color-palette-static-white);
    font-weight: var(--seed-font-weight-bold);
    --seed-prefix-icon-color: var(--seed-color-palette-static-white);
    --seed-suffix-icon-color: var(--seed-color-palette-static-white);
    --seed-icon-color: var(--seed-color-palette-static-white);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-action-button--variant_brandSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-action-button--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_brandSolid[data-loading] {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-action-button--variant_neutralSolid {
    background: var(--seed-color-bg-neutral-inverted);
    color: var(--seed-color-fg-neutral-inverted);
    font-weight: var(--seed-font-weight-bold);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral-inverted);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral-inverted);
    --seed-icon-color: var(--seed-color-fg-neutral-inverted);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-action-button--variant_neutralSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-inverted-pressed);
}
.seed-action-button--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_neutralSolid[data-loading] {
    background: var(--seed-color-bg-neutral-inverted-pressed);
}
.seed-action-button--variant_neutralWeak {
    background: var(--seed-color-bg-neutral-weak);
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-bold);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
    --seed-icon-color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.seed-action-button--variant_neutralWeak:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-action-button--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_neutralWeak[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-action-button--variant_criticalSolid {
    background: var(--seed-color-bg-critical-solid);
    color: var(--seed-color-palette-static-white);
    font-weight: var(--seed-font-weight-bold);
    --seed-prefix-icon-color: var(--seed-color-palette-static-white);
    --seed-suffix-icon-color: var(--seed-color-palette-static-white);
    --seed-icon-color: var(--seed-color-palette-static-white);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-action-button--variant_criticalSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-critical-solid-pressed);
}
.seed-action-button--variant_criticalSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_criticalSolid[data-loading] {
    background: var(--seed-color-bg-critical-solid-pressed);
}
.seed-action-button--variant_brandOutline {
    border-style: solid;
    background: var(--seed-color-bg-transparent);
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral-muted);
    color: var(--seed-color-fg-brand);
    font-weight: var(--seed-font-weight-bold);
    --seed-prefix-icon-color: var(--seed-color-fg-brand);
    --seed-suffix-icon-color: var(--seed-color-fg-brand);
    --seed-icon-color: var(--seed-color-fg-brand);
    --track-color: var(--seed-color-palette-orange-200);
    --range-color: var(--seed-color-bg-brand-solid);
}
.seed-action-button--variant_brandOutline:is(:active, [data-active]) {
    background: var(--seed-color-bg-transparent-pressed);
}
.seed-action-button--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-transparent);
    border-color: var(--seed-color-stroke-neutral-muted);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_brandOutline[data-loading] {
    background: var(--seed-color-bg-transparent);
}
.seed-action-button--variant_neutralOutline {
    border-style: solid;
    background: var(--seed-color-bg-transparent);
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral-muted);
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-bold);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
    --seed-icon-color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.seed-action-button--variant_neutralOutline:is(:active, [data-active]) {
    background: var(--seed-color-bg-transparent-pressed);
}
.seed-action-button--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-transparent);
    border-color: var(--seed-color-stroke-neutral-muted);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_neutralOutline[data-loading] {
    background: var(--seed-color-bg-transparent);
}
.seed-action-button--variant_ghost {
    background: #ffffff00;
    --seed-box-color: var(--seed-color-fg-neutral);
    color: var(--seed-box-color);
    --seed-prefix-icon-color: var(--seed-box-color);
    --seed-suffix-icon-color: var(--seed-box-color);
    --seed-icon-color: var(--seed-box-color);
    --seed-font-weight: var(--seed-font-weight-bold);
    font-weight: var(--seed-font-weight);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.seed-action-button--variant_ghost:is(:active, [data-active]) {
    background: var(--seed-color-bg-transparent-pressed);
}
.seed-action-button--variant_ghost:is(:disabled, [disabled], [data-disabled]) {
    background: #ffffff00;
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button--variant_ghost[data-loading] {
    background: var(--seed-color-bg-transparent-pressed);
}
.seed-action-button--size_xsmall {
    height: var(--seed-dimension-x8);
    border-radius: var(--seed-radius-full);
    --size: 14px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-action-button--size_small {
    height: var(--seed-dimension-x9);
    border-radius: var(--seed-radius-r2);
    --size: 14px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-action-button--size_medium {
    height: var(--seed-dimension-x10);
    border-radius: var(--seed-radius-r2);
    --size: 16px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x4);
    --seed-suffix-icon-size: var(--seed-dimension-x4);
    --seed-icon-size: 18px;
}
.seed-action-button--size_large {
    height: var(--seed-dimension-x13);
    border-radius: var(--seed-radius-r3);
    --size: 18px;
    --thickness: 2px;
    --seed-prefix-icon-size: 22px;
    --seed-suffix-icon-size: 22px;
    --seed-icon-size: 22px;
}
.seed-action-button--layout_withText {}
.seed-action-button--layout_iconOnly {}
.seed-action-button--size_xsmall-layout_withText {
    gap: var(--seed-dimension-x1);
    --seed-box-padding-left: var(--seed-dimension-x3_5);
    --seed-box-padding-right: var(--seed-dimension-x3_5);
    --seed-box-padding-top: var(--seed-dimension-x1_5);
    --seed-box-padding-bottom: var(--seed-dimension-x1_5);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.seed-action-button--size_xsmall-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
    --seed-box-padding-left: var(--seed-dimension-x1_5);
    --seed-box-padding-right: var(--seed-dimension-x1_5);
    --seed-box-padding-top: var(--seed-dimension-x1_5);
    --seed-box-padding-bottom: var(--seed-dimension-x1_5);
}
.seed-action-button--size_small-layout_withText {
    gap: var(--seed-dimension-x1);
    --seed-box-padding-left: var(--seed-dimension-x3_5);
    --seed-box-padding-right: var(--seed-dimension-x3_5);
    --seed-box-padding-top: var(--seed-dimension-x2);
    --seed-box-padding-bottom: var(--seed-dimension-x2);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-action-button--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
    --seed-box-padding-left: var(--seed-dimension-x2);
    --seed-box-padding-right: var(--seed-dimension-x2);
    --seed-box-padding-top: var(--seed-dimension-x2);
    --seed-box-padding-bottom: var(--seed-dimension-x2);
}
.seed-action-button--size_medium-layout_withText {
    gap: var(--seed-dimension-x1_5);
    --seed-box-padding-left: var(--seed-dimension-x4);
    --seed-box-padding-right: var(--seed-dimension-x4);
    --seed-box-padding-top: var(--seed-dimension-x2_5);
    --seed-box-padding-bottom: var(--seed-dimension-x2_5);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-action-button--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x10);
    --seed-box-padding-left: var(--seed-dimension-x2_5);
    --seed-box-padding-right: var(--seed-dimension-x2_5);
    --seed-box-padding-top: var(--seed-dimension-x2_5);
    --seed-box-padding-bottom: var(--seed-dimension-x2_5);
}
.seed-action-button--size_large-layout_withText {
    gap: var(--seed-dimension-x2);
    --seed-box-padding-left: var(--seed-dimension-x5);
    --seed-box-padding-right: var(--seed-dimension-x5);
    --seed-box-padding-top: var(--seed-dimension-x3_5);
    --seed-box-padding-bottom: var(--seed-dimension-x3_5);
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-action-button--size_large-layout_iconOnly {
    min-width: var(--seed-dimension-x13);
    --seed-box-padding-left: var(--seed-dimension-x3_5);
    --seed-box-padding-right: var(--seed-dimension-x3_5);
    --seed-box-padding-top: var(--seed-dimension-x3_5);
    --seed-box-padding-bottom: var(--seed-dimension-x3_5);
}