.seed-bottom-sheet__positioner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior-y: none;
    --sheet-z-index: 2;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
}
.seed-bottom-sheet__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
}
.seed-bottom-sheet__backdrop[data-snap-points='true'] {
    opacity: 0;
}
.seed-bottom-sheet__backdrop:not(:is([data-state="open"], [data-open]))[data-snap-points='true']:not([data-snap-points-overlay='true']) {
    opacity: 0;
}
.seed-bottom-sheet__backdrop:is([data-state="open"], [data-open])[data-snap-points-overlay='true'] {
    opacity: 1;
}
.seed-bottom-sheet__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    border-top-left-radius: var(--seed-radius-r6);
    border-top-right-radius: var(--seed-radius-r6);
    padding-bottom: var(--seed-safe-area-bottom);
    touch-action: none;
    will-change: transform;
    transition: transform var(--seed-duration-d6) var(--seed-timing-function-enter-expressive);
}
.seed-bottom-sheet__content[data-snap-points='true'] {
    transform: translate3d(0, var(--initial-transform, 100%), 0);
}
.seed-bottom-sheet__content[data-delayed-snap-points='true'] {
    transform: translate3d(0, var(--snap-point-height, 0), 0);
}
.seed-bottom-sheet__content::after {
    top: 100%;
    height: 200vh;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
}
.seed-bottom-sheet__header {
    display: flex;
    flex-direction: column;
    gap: var(--seed-dimension-x2);
    padding-top: var(--seed-dimension-x6);
    padding-bottom: var(--seed-dimension-x4);
}
.seed-bottom-sheet__title {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t8);
    line-height: var(--seed-line-height-t8);
    font-weight: var(--seed-font-weight-bold);
    word-break: keep-all;
    margin: 0;
}
.seed-bottom-sheet__description {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    margin: 0;
    white-space: pre-wrap;
}
.seed-bottom-sheet__body {
    display: flex;
    flex-direction: column;
    --seed-box-padding-x: var(--seed-dimension-spacing-x-global-gutter);
    --seed-box-height: initial;
    --seed-box-min-height: initial;
    --seed-box-max-height: initial;
    --seed-box-justify-content: initial;
    --seed-box-align-items: initial;
    padding-left: var(--seed-box-padding-x);
    padding-right: var(--seed-box-padding-x);
    height: var(--seed-box-height);
    min-height: var(--seed-box-min-height);
    max-height: var(--seed-box-max-height);
    justify-content: var(--seed-box-justify-content);
    align-items: var(--seed-box-align-items);
}
.seed-bottom-sheet__footer {
    display: flex;
    flex-direction: column;
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x4);
}
.seed-bottom-sheet__closeButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    top: var(--seed-dimension-x6);
    right: var(--seed-dimension-x4);
    border-radius: var(--seed-radius-full);
    background: var(--seed-color-bg-neutral-weak);
    width: 28px;
    height: 28px;
    cursor: pointer;
    --seed-icon-size: 14px;
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-bottom-sheet__closeButton:after {
    content: "";
    position: absolute;
    top: calc((28px - 44px) / 2);
    right: calc((28px - 44px) / 2);
    bottom: calc((28px - 44px) / 2);
    left: calc((28px - 44px) / 2);
}
.seed-bottom-sheet__header--headerAlign_left {
    justify-content: flex-start;
}
.seed-bottom-sheet__title--headerAlign_left {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
}
.seed-bottom-sheet__title--headerAlign_left[data-show-close-button] {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: 56px;
}
.seed-bottom-sheet__header--headerAlign_center {
    justify-content: center;
    text-align: center;
}
.seed-bottom-sheet__title--headerAlign_center {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
}
.seed-bottom-sheet__title--headerAlign_center[data-show-close-button] {
    padding-left: 56px;
    padding-right: 56px;
}
.seed-bottom-sheet__backdrop--skipAnimation_false:is([data-state="open"], [data-open])[data-snap-points='false']:not([data-animation-done='true']) {
    animation-name: fade-in;
    animation-duration: var(--seed-duration-d6);
    animation-timing-function: var(--seed-timing-function-enter);
}
.seed-bottom-sheet__backdrop--skipAnimation_false:not(:is([data-state="open"], [data-open]))[data-snap-points='false'] {
    animation-name: fade-out;
    animation-duration: var(--seed-duration-d4);
    animation-timing-function: var(--seed-timing-function-exit);
}
.seed-bottom-sheet__backdrop--skipAnimation_false:is([data-state="open"], [data-open])[data-snap-points='true'][data-should-overlay-animate='true']:not([data-animation-done='true']) {
    animation-name: fade-in;
    animation-duration: var(--seed-duration-d6);
    animation-timing-function: var(--seed-timing-function-enter);
}
.seed-bottom-sheet__content--skipAnimation_false {
    animation-duration: var(--seed-duration-d6);
    animation-timing-function: var(--seed-timing-function-enter-expressive);
}
.seed-bottom-sheet__content--skipAnimation_false:is([data-state="open"], [data-open])[data-snap-points='false']:not([data-animation-done='true']) {
    animation-name: drawer-slide-from-bottom;
    animation-duration: var(--seed-duration-d6);
    animation-timing-function: var(--seed-timing-function-enter-expressive);
}
.seed-bottom-sheet__content--skipAnimation_false:not(:is([data-state="open"], [data-open]))[data-snap-points='false'] {
    animation-name: drawer-slide-to-bottom;
    animation-duration: var(--seed-duration-d4);
    animation-timing-function: var(--seed-timing-function-exit);
}
.seed-bottom-sheet__content--skipAnimation_false:is([data-state="open"], [data-open])[data-delayed-snap-points='true']:not([data-animation-done='true']) {
    animation-name: drawer-slide-from-bottom;
    animation-duration: var(--seed-duration-d6);
    animation-timing-function: var(--seed-timing-function-enter-expressive);
}