.seed-dialog__positioner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior-y: none;
    --dialog-z-index: 2;
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0))
}
.seed-dialog__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0))
}
.seed-dialog__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    max-width: 272px;
    margin: auto var(--seed-dimension-x8);
    border-radius: var(--seed-radius-r5)
}
.seed-dialog__header {
    display: flex;
    flex-direction: column;
    padding-left: var(--seed-dimension-x5);
    padding-right: var(--seed-dimension-x5);
    padding-top: var(--seed-dimension-x5);
    gap: var(--seed-dimension-x1_5)
}
.seed-dialog__title {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t7);
    line-height: var(--seed-line-height-t7);
    font-weight: var(--seed-font-weight-bold);
    margin: 0
}
.seed-dialog__description {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    margin: 0;
    white-space: pre-wrap
}
.seed-dialog__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: var(--seed-dimension-x5);
    padding-right: var(--seed-dimension-x5);
    padding-top: var(--seed-dimension-x4);
    padding-bottom: var(--seed-dimension-x5)
}
.seed-dialog__backdrop--skipAnimation_false:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1
}
.seed-dialog__backdrop--skipAnimation_false:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1
}
.seed-dialog__content--skipAnimation_false:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d4);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1.3
}
.seed-dialog__content--skipAnimation_false:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1
}