.seed-floating-action-button__root {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    font-family: inherit;
}
.seed-floating-action-button__root:is(:focus, [data-focus]) {
    outline: none;
}
.seed-floating-action-button__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-floating-action-button__root {
    position: relative;
    overflow: hidden;
    background: var(--seed-color-bg-brand-solid);
    border-radius: var(--seed-radius-full);
    box-shadow: var(--seed-shadow-s3);
    color: var(--seed-color-palette-static-white);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-bold);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing), max-width var(--seed-duration-d4) var(--seed-timing-function-easing), height var(--seed-duration-d4) var(--seed-timing-function-easing), padding var(--seed-duration-d4) var(--seed-timing-function-easing);
}
.seed-floating-action-button__root:is(:active, [data-active]) {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-floating-action-button__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--seed-color-palette-static-white);
    transition: margin-right var(--seed-duration-d4) var(--seed-timing-function-easing), width var(--seed-duration-d4) var(--seed-timing-function-easing), height var(--seed-duration-d4) var(--seed-timing-function-easing);
}
.seed-floating-action-button__label {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.seed-floating-action-button__root--extended_true {
    padding-left: var(--seed-dimension-x4_5);
    padding-right: var(--seed-dimension-x4_5);
    height: 48px;
    width: fit-content;
    max-width: 999px;
}
.seed-floating-action-button__icon--extended_true {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    margin-right: var(--seed-dimension-x1);
    transition: none;
}
.seed-floating-action-button__root--extended_false {
    padding: 0;
    min-width: 56px;
    max-width: 56px;
    height: 56px;
}
.seed-floating-action-button__icon--extended_false {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--seed-dimension-x6);
    height: var(--seed-dimension-x6);
}
.seed-floating-action-button__label--extended_false {
    opacity: 0;
}