.seed-link-content {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit;
    text-align: center;
    padding-inline: 0;
    padding-block: 0;
    color: var(--seed-box-color);
    --seed-suffix-icon-color: var(--seed-box-color)
}
.seed-link-content--weight_bold {
    font-weight: var(--seed-font-weight-bold)
}
.seed-link-content--weight_regular {
    font-weight: var(--seed-font-weight-regular)
}
.seed-link-content--size_t6 {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
    gap: var(--seed-dimension-x0_5);
    --seed-suffix-icon-size: var(--seed-dimension-x4)
}
.seed-link-content--size_t5 {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    gap: var(--seed-dimension-x0_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5)
}
.seed-link-content--size_t4 {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    gap: var(--seed-dimension-x0_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3)
}