.seed-manner-temp {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--seed-dimension-x1);
    box-sizing: border-box;
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-bold);
    --seed-suffix-icon-size: var(--seed-dimension-x8);
    --seed-suffix-icon-margin-left: calc(var(--seed-dimension-x1) * -1);
    --seed-suffix-icon-margin-right: calc(var(--seed-dimension-x1) * -1);
    --seed-suffix-icon-margin-top: calc(var(--seed-dimension-x1) * -1);
    --seed-suffix-icon-margin-bottom: calc(var(--seed-dimension-x1) * -1)
}
.seed-manner-temp--level_l1 {
    color: var(--seed-color-manner-temp-l1-text)
}
.seed-manner-temp--level_l2 {
    color: var(--seed-color-manner-temp-l2-text)
}
.seed-manner-temp--level_l3 {
    color: var(--seed-color-manner-temp-l3-text)
}
.seed-manner-temp--level_l4 {
    color: var(--seed-color-manner-temp-l4-text)
}
.seed-manner-temp--level_l5 {
    color: var(--seed-color-manner-temp-l5-text)
}
.seed-manner-temp--level_l6 {
    color: var(--seed-color-manner-temp-l6-text)
}
.seed-manner-temp--level_l7 {
    color: var(--seed-color-manner-temp-l7-text)
}
.seed-manner-temp--level_l8 {
    color: var(--seed-color-manner-temp-l8-text)
}
.seed-manner-temp--level_l9 {
    color: var(--seed-color-manner-temp-l9-text)
}
.seed-manner-temp--level_l10 {
    color: var(--seed-color-manner-temp-l10-text)
}