.seed-menu-sheet-item__root {
    display: flex;
    align-items: center;
    background-color: var(--seed-color-bg-neutral-weak);
    min-height: 52px;
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    padding-top: var(--seed-dimension-x3_5);
    padding-bottom: var(--seed-dimension-x3_5);
    gap: var(--seed-dimension-x3_5);
    box-shadow: inset 0 calc(-1 * 1px) 0 var(--seed-color-stroke-neutral-muted);
    margin: 0;
    border: none;
    font-family: inherit;
    outline: none;
}
.seed-menu-sheet-item__root:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-menu-sheet-item__root:last-child {
    box-shadow: none;
}
.seed-menu-sheet-item__root {
    --seed-prefix-icon-size: 22px;
}
.seed-menu-sheet-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--seed-dimension-x0_5);
}
.seed-menu-sheet-item__label {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
}
.seed-menu-sheet-item__description {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-medium);
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-menu-sheet-item__root--tone_neutral {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
}
.seed-menu-sheet-item__label--tone_neutral {
    color: var(--seed-color-fg-neutral);
}
.seed-menu-sheet-item__root--tone_critical {
    --seed-prefix-icon-color: var(--seed-color-fg-critical);
}
.seed-menu-sheet-item__label--tone_critical {
    color: var(--seed-color-fg-critical);
}
.seed-menu-sheet-item__content--labelAlign_left {
    text-align: start;
}
.seed-menu-sheet-item__root--labelAlign_center {
    justify-content: center;
}
.seed-menu-sheet-item__content--labelAlign_center {
    align-items: center;
}