.seed-reaction-button {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    flex-shrink: 0;
    font-family: inherit;
}
.seed-reaction-button:is(:focus, [data-focus]) {
    outline: none;
}
.seed-reaction-button {
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing), box-shadow var(--seed-duration-color-transition) var(--seed-timing-function-easing);
    background: var(--seed-color-bg-transparent);
    font-weight: var(--seed-font-weight-medium);
    color: var(--seed-color-fg-neutral);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-muted);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
    --seed-count-font-weight: var(--seed-font-weight-bold);
    --seed-count-color: var(--seed-color-fg-neutral);
}
.seed-reaction-button:is(:active, [data-active]) {
    background: var(--seed-color-bg-transparent-pressed);
}
.seed-reaction-button:is([aria-pressed=true], [data-pressed]) {
    background: var(--seed-color-bg-transparent);
    color: var(--seed-color-fg-brand);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-brand-weak);
    --seed-prefix-icon-color: var(--seed-color-fg-brand);
    --seed-count-color: var(--seed-color-fg-brand);
}
.seed-reaction-button:is([aria-pressed=true], [data-pressed]):is(:active, [data-active]) {
    background: var(--seed-color-bg-transparent-pressed);
}
.seed-reaction-button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    box-shadow: inset 0 0 0 0px var(--seed-color-stroke-brand-weak);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-count-color: var(--seed-color-fg-disabled);
}
.seed-reaction-button[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-reaction-button:is([aria-pressed=true], [data-pressed])[data-loading] {
    background: var(--seed-color-bg-transparent-pressed);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-brand-weak);
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-fg-brand);
}
.seed-reaction-button--size_xsmall {
    height: var(--seed-dimension-x8);
    padding-left: var(--seed-dimension-x3);
    padding-right: var(--seed-dimension-x3);
    padding-top: var(--seed-dimension-x1_5);
    padding-bottom: var(--seed-dimension-x1_5);
    gap: var(--seed-dimension-x1);
    border-radius: var(--seed-radius-full);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    --size: 14px;
    --thickness: 2px;
    --seed-count-font-size: var(--seed-font-size-t3);
    --seed-count-line-height: var(--seed-line-height-t3);
    --seed-prefix-icon-size: 18px;
}
.seed-reaction-button--size_small {
    height: var(--seed-dimension-x9);
    padding-left: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x3_5);
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2);
    gap: var(--seed-dimension-x1);
    border-radius: var(--seed-radius-full);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    --size: 14px;
    --thickness: 2px;
    --seed-count-font-size: var(--seed-font-size-t3);
    --seed-count-line-height: var(--seed-line-height-t3);
    --seed-prefix-icon-size: 18px;
}