.seed-select-box-group {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--seed-select-box-group--columns, 1), minmax(0, 1fr));
    row-gap: var(--seed-dimension-spacing-y-component-default);
    column-gap: var(--seed-dimension-x3);
}
.seed-select-box-group:not([data-columns='1']) {
    grid-auto-rows: 1fr;
}