.seed-selectBoxCheckmark__root {
    position: relative;
    box-sizing: border-box;
    flex: none;
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-selectBoxCheckmark__icon {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: initial;
    width: 15px;
    height: 15px;
    --seed-icon-size: 15px;
    color: var(--seed-color-fg-placeholder);
    transition: color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
}
.seed-selectBoxCheckmark__icon:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]) {
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-selectBoxCheckmark__icon:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, [data-checked]) {
    color: var(--seed-color-fg-neutral);
}
.seed-selectBoxCheckmark__icon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}