.seed-tag-group-item__root {
    display: var(--tag-group-item-display);
    align-items: center;
    vertical-align: middle;
    flex-shrink: var(--seed-box-flex-shrink, 1);
    min-width: 0;
}
.seed-tag-group-item__label {
    display: inline;
    vertical-align: middle;
    min-width: 0;
    overflow: var(--tag-group-item-overflow);
    text-overflow: var(--tag-group-item-text-overflow);
    white-space: var(--tag-group-item-white-space);
    word-break: normal;
}
.seed-tag-group-item__label:not(:first-child) {
    margin-left: var(--seed-dimension-x0_5);
}
.seed-tag-group-item__label:not(:last-child) {
    margin-right: var(--seed-dimension-x0_5);
}
.seed-tag-group-item__root--size_t2 {
    --seed-prefix-icon-size: var(--seed-dimension-x3);
    --seed-suffix-icon-size: var(--seed-dimension-x3);
    --seed-icon-size: var(--seed-dimension-x3);
}
.seed-tag-group-item__label--size_t2 {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-tag-group-item__root--size_t3 {
    --seed-prefix-icon-size: 13px;
    --seed-suffix-icon-size: 13px;
    --seed-icon-size: 13px;
}
.seed-tag-group-item__label--size_t3 {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.seed-tag-group-item__root--size_t4 {
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-tag-group-item__label--size_t4 {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-tag-group-item__label--weight_regular {
    font-weight: var(--seed-font-weight-regular);
}
.seed-tag-group-item__label--weight_bold {
    font-weight: var(--seed-font-weight-bold);
}
.seed-tag-group-item__root--tone_neutralSubtle {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral-subtle);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral-subtle);
    --seed-icon-color: var(--seed-color-fg-neutral-subtle);
}
.seed-tag-group-item__label--tone_neutralSubtle {
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-tag-group-item__root--tone_neutral {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-tag-group-item__label--tone_neutral {
    color: var(--seed-color-fg-neutral);
}
.seed-tag-group-item__root--tone_brand {
    --seed-prefix-icon-color: var(--seed-color-fg-brand);
    --seed-suffix-icon-color: var(--seed-color-fg-brand);
    --seed-icon-color: var(--seed-color-fg-brand);
}
.seed-tag-group-item__label--tone_brand {
    color: var(--seed-color-fg-brand);
}