.seed-text {
    margin: 0;
    color: var(--seed-text-color);
    font-size: var(--seed-font-size);
    font-weight: var(--seed-font-weight);
    line-height: var(--seed-line-height);
    text-align: var(--seed-text-align);
    user-select: var(--seed-user-select);
    --seed-text-color: inherit;
    --seed-font-size: inherit;
    --seed-font-weight: inherit;
    --seed-line-height: inherit;
    --seed-text-align: inherit;
    --seed-user-select: inherit;
    --seed-white-space: inherit;
    --seed-max-lines: initial
}
.seed-text--textStyle_screenTitle {
    --seed-font-size: var(--seed-font-size-t10);
    --seed-line-height: var(--seed-line-height-t10);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_articleBody {
    --seed-font-size: var(--seed-font-size-t5);
    --seed-line-height: var(--seed-line-height-t6);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_articleNote {
    --seed-font-size: var(--seed-font-size-t4);
    --seed-line-height: var(--seed-line-height-t5);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t1Regular {
    --seed-font-size: var(--seed-font-size-t1);
    --seed-line-height: var(--seed-line-height-t1);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t1Medium {
    --seed-font-size: var(--seed-font-size-t1);
    --seed-line-height: var(--seed-line-height-t1);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t1Bold {
    --seed-font-size: var(--seed-font-size-t1);
    --seed-line-height: var(--seed-line-height-t1);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t2Regular {
    --seed-font-size: var(--seed-font-size-t2);
    --seed-line-height: var(--seed-line-height-t2);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t2Medium {
    --seed-font-size: var(--seed-font-size-t2);
    --seed-line-height: var(--seed-line-height-t2);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t2Bold {
    --seed-font-size: var(--seed-font-size-t2);
    --seed-line-height: var(--seed-line-height-t2);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t3Regular {
    --seed-font-size: var(--seed-font-size-t3);
    --seed-line-height: var(--seed-line-height-t3);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t3Medium {
    --seed-font-size: var(--seed-font-size-t3);
    --seed-line-height: var(--seed-line-height-t3);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t3Bold {
    --seed-font-size: var(--seed-font-size-t3);
    --seed-line-height: var(--seed-line-height-t3);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t4Regular {
    --seed-font-size: var(--seed-font-size-t4);
    --seed-line-height: var(--seed-line-height-t4);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t4Medium {
    --seed-font-size: var(--seed-font-size-t4);
    --seed-line-height: var(--seed-line-height-t4);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t4Bold {
    --seed-font-size: var(--seed-font-size-t4);
    --seed-line-height: var(--seed-line-height-t4);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t5Regular {
    --seed-font-size: var(--seed-font-size-t5);
    --seed-line-height: var(--seed-line-height-t5);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t5Medium {
    --seed-font-size: var(--seed-font-size-t5);
    --seed-line-height: var(--seed-line-height-t5);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t5Bold {
    --seed-font-size: var(--seed-font-size-t5);
    --seed-line-height: var(--seed-line-height-t5);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t6Regular {
    --seed-font-size: var(--seed-font-size-t6);
    --seed-line-height: var(--seed-line-height-t6);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t6Medium {
    --seed-font-size: var(--seed-font-size-t6);
    --seed-line-height: var(--seed-line-height-t6);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t6Bold {
    --seed-font-size: var(--seed-font-size-t6);
    --seed-line-height: var(--seed-line-height-t6);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t7Regular {
    --seed-font-size: var(--seed-font-size-t7);
    --seed-line-height: var(--seed-line-height-t7);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t7Medium {
    --seed-font-size: var(--seed-font-size-t7);
    --seed-line-height: var(--seed-line-height-t7);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t7Bold {
    --seed-font-size: var(--seed-font-size-t7);
    --seed-line-height: var(--seed-line-height-t7);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t8Bold {
    --seed-font-size: var(--seed-font-size-t8);
    --seed-line-height: var(--seed-line-height-t8);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t9Bold {
    --seed-font-size: var(--seed-font-size-t9);
    --seed-line-height: var(--seed-line-height-t9);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t10Bold {
    --seed-font-size: var(--seed-font-size-t10);
    --seed-line-height: var(--seed-line-height-t10);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t1StaticRegular {
    --seed-font-size: var(--seed-font-size-t1-static);
    --seed-line-height: var(--seed-line-height-t1-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t1StaticMedium {
    --seed-font-size: var(--seed-font-size-t1-static);
    --seed-line-height: var(--seed-line-height-t1-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t1StaticBold {
    --seed-font-size: var(--seed-font-size-t1-static);
    --seed-line-height: var(--seed-line-height-t1-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t2StaticRegular {
    --seed-font-size: var(--seed-font-size-t2-static);
    --seed-line-height: var(--seed-line-height-t2-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t2StaticMedium {
    --seed-font-size: var(--seed-font-size-t2-static);
    --seed-line-height: var(--seed-line-height-t2-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t2StaticBold {
    --seed-font-size: var(--seed-font-size-t2-static);
    --seed-line-height: var(--seed-line-height-t2-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t3StaticRegular {
    --seed-font-size: var(--seed-font-size-t3-static);
    --seed-line-height: var(--seed-line-height-t3-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t3StaticMedium {
    --seed-font-size: var(--seed-font-size-t3-static);
    --seed-line-height: var(--seed-line-height-t3-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t3StaticBold {
    --seed-font-size: var(--seed-font-size-t3-static);
    --seed-line-height: var(--seed-line-height-t3-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t4StaticRegular {
    --seed-font-size: var(--seed-font-size-t4-static);
    --seed-line-height: var(--seed-line-height-t4-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t4StaticMedium {
    --seed-font-size: var(--seed-font-size-t4-static);
    --seed-line-height: var(--seed-line-height-t4-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t4StaticBold {
    --seed-font-size: var(--seed-font-size-t4-static);
    --seed-line-height: var(--seed-line-height-t4-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t5StaticRegular {
    --seed-font-size: var(--seed-font-size-t5-static);
    --seed-line-height: var(--seed-line-height-t5-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t5StaticMedium {
    --seed-font-size: var(--seed-font-size-t5-static);
    --seed-line-height: var(--seed-line-height-t5-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t5StaticBold {
    --seed-font-size: var(--seed-font-size-t5-static);
    --seed-line-height: var(--seed-line-height-t5-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t6StaticRegular {
    --seed-font-size: var(--seed-font-size-t6-static);
    --seed-line-height: var(--seed-line-height-t6-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t6StaticMedium {
    --seed-font-size: var(--seed-font-size-t6-static);
    --seed-line-height: var(--seed-line-height-t6-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t6StaticBold {
    --seed-font-size: var(--seed-font-size-t6-static);
    --seed-line-height: var(--seed-line-height-t6-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t7StaticRegular {
    --seed-font-size: var(--seed-font-size-t7-static);
    --seed-line-height: var(--seed-line-height-t7-static);
    --seed-font-weight: var(--seed-font-weight-regular)
}
.seed-text--textStyle_t7StaticMedium {
    --seed-font-size: var(--seed-font-size-t7-static);
    --seed-line-height: var(--seed-line-height-t7-static);
    --seed-font-weight: var(--seed-font-weight-medium)
}
.seed-text--textStyle_t7StaticBold {
    --seed-font-size: var(--seed-font-size-t7-static);
    --seed-line-height: var(--seed-line-height-t7-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t8StaticBold {
    --seed-font-size: var(--seed-font-size-t8-static);
    --seed-line-height: var(--seed-line-height-t8-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t9StaticBold {
    --seed-font-size: var(--seed-font-size-t9-static);
    --seed-line-height: var(--seed-line-height-t9-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--textStyle_t10StaticBold {
    --seed-font-size: var(--seed-font-size-t10-static);
    --seed-line-height: var(--seed-line-height-t10-static);
    --seed-font-weight: var(--seed-font-weight-bold)
}
.seed-text--maxLines_none {
    overflow: unset;
    min-width: unset;
    text-overflow: unset;
    white-space: var(--seed-white-space);
    -webkit-line-clamp: unset
}
.seed-text--maxLines_single {
    display: block;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: var(--seed-max-lines)
}
.seed-text--maxLines_multi {
    display: -webkit-box;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: initial;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--seed-max-lines)
}
.seed-text--textDecorationLine_none {
    text-decoration-line: none
}
.seed-text--textDecorationLine_line-through {
    text-decoration-line: line-through
}
.seed-text--textDecorationLine_underline {
    text-decoration-line: underline
}