.seed-toggle-button {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    flex-shrink: 0;
    font-family: inherit;
}
.seed-toggle-button:is(:focus, [data-focus]) {
    outline: none;
}
.seed-toggle-button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-toggle-button {
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
    font-weight: var(--seed-font-weight-bold);
}
.seed-toggle-button--variant_brandSolid {
    background: var(--seed-color-bg-brand-solid);
    color: var(--seed-color-palette-static-white);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-toggle-button--variant_brandSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-toggle-button--variant_brandSolid:is([aria-pressed=true], [data-pressed]) {
    background: var(--seed-color-bg-neutral-weak);
    color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
}
.seed-toggle-button--variant_brandSolid:is([aria-pressed=true], [data-pressed]):is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-toggle-button--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
}
.seed-toggle-button--variant_brandSolid[data-loading] {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-toggle-button--variant_brandSolid:is([aria-pressed=true], [data-pressed])[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-toggle-button--variant_brandSolid {
    --seed-prefix-icon-color: var(--seed-color-palette-static-white);
    --seed-suffix-icon-color: var(--seed-color-palette-static-white);
}
.seed-toggle-button--variant_neutralWeak {
    background: var(--seed-color-bg-neutral-weak);
    color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.seed-toggle-button--variant_neutralWeak:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-toggle-button--variant_neutralWeak:is([aria-pressed=true], [data-pressed]) {
    background: var(--seed-color-bg-neutral-weak);
    color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
}
.seed-toggle-button--variant_neutralWeak:is([aria-pressed=true], [data-pressed]):is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-toggle-button--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
}
.seed-toggle-button--variant_neutralWeak[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-toggle-button--variant_neutralWeak:is([aria-pressed=true], [data-pressed])[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-toggle-button--variant_neutralWeak {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
}
.seed-toggle-button--size_xsmall {
    height: var(--seed-dimension-x8);
    border-radius: var(--seed-radius-full);
    gap: var(--seed-dimension-x1);
    padding-left: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x3_5);
    padding-top: var(--seed-dimension-x1_5);
    padding-bottom: var(--seed-dimension-x1_5);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    --size: 14px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
}
.seed-toggle-button--size_small {
    height: var(--seed-dimension-x9);
    border-radius: var(--seed-radius-full);
    gap: var(--seed-dimension-x1);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    --size: 14px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
}